<div>
  <%= @idnet_people.each do |user| %>
    <div>
      <%= user.email %>
      <%= hidden_field_tag :uid, user.uid %>
      <%= button_tag "Add friend", class: "add_friend_button" %> <br>
    </div>
  <% end %>
</div>
